body {
    background-color: rgb(222, 224, 230);
    padding: 10px;
}

.header {
    padding: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(59, 54, 71);
    color: lightblue;
}

.header nav {
    padding-top: 15px;
    float: right;
    margin-right: 20px;


}
.header div {
    display: flex;
    align-items: center;
}

.header h1{
    font-style: oblique;
    display: inline-block;
    text-align: right;
    width: 350px;
    color: rgb(59, 54, 71);
    background-color: lightblue;
}

.header div ul {
    position: absolute; top: center; right: 0%; border: 0%;
    margin-left: 240px; 
    /* text-align: left; */

}

.header div ul li {
    margin: center;
    display: inline-block;
    margin-right: 40px;
    text-align: center;
}

a {
    color: lightblue;
    text-decoration: none;
    text-decoration: underline;
}

/* .image bottom-right {
    position: absolute;
    bottom: 8px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightblue;
    right: 16px;
    font-size: 18px; */
}

.aboutme {
    float: left;
}

.aboutme h1 {
    width: 150px;
    border-right: 6px solid rgb(1, 1, 90);
    position: relative;
    color: rgb(1, 1, 90);
}

.aboutme img {
    width: 100px;
}

.aboutme p {
    position: absolute;
    display: inline-block;
    margin-left: 30px;
    margin-right: 50px;
    height: 100px;
    color: rgb(1, 1, 90);
}

dt { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic; 
    color: rgb(1, 1, 90);
    font-weight: bold; 
    font-size: 30px; 
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 150px; 
    float: left; 
    height: 150px; 
    border-right: 10px solid rgb(1, 1, 90); 
}

dd { 
    width: 0px; 
    float: right; 
}

p { 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 0 16px 0; 
}

img { 
    font-size: 20px; 
    margin: 0 0 6px 0; 
    position: relative; 
}

.work {
    display: inline-block;
    display: flex;
    flex-direction: row;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(1, 1, 90);
    font-weight: bold; 
    font-size: 30px; 
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 1650px; 
    height: 150px; 
}

.work div {
    width: 250px;
    border: 10px solid lightblue;
    padding: 50px;
    margin: 15px;
}

.work div:hover {
    background-color: silver;
}

.contactme {
    display: inline-block;
    display: flex;
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(1, 1, 90);
    font-weight: bold; 
    font-size: 35px; 
    text-align: right; 
    padding: 0 26px 0 0; 
    width: 150px; 
    /* float: left;  */
    height: 150px; 
    border-right: 8px solid rgb(1, 1, 90);
}

.contactme ul {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: rgb(1, 1, 90);
    list-style-type: none;
    display: flex;
    width: 0px; 
    float: right; 
}

.contactme a {
    padding-left: 25px;
    text-decoration: none;
    color: rgb(1, 1, 90);
    display: flex;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .aboutme h1, .aboutme img, .aboutme p {
      width: 100%;
    }
  }