body {
    background-color: rgb(222, 224, 230);
    padding: 10px;
}

nav{
    margin-left: 13%;
    margin-right: 13%;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-gap: 10px;
    grid-template-columns: 0.75fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 1.5fr 0.5fr;
    grid-template-areas: 
        "image image image image"
        "Aboutme aboutmeInfo aboutmeInfo aboutmeInfo"
        "Work Scheduler Weather prodHuc"
        "contactMe phoneNo email GitInk"
}

.image {
    grid-area: image;
}

.Norma {
    float: left;
    margin-right: 15px;
}

.Aboutme {
    grid-area: Aboutme;
    border-right: 10px solid rgb(1, 1, 90);
}

.aboutmeInfo {
    grid-area: aboutmeInfo;
    text-align: justify;
    text-justify: inter-word;
    padding-left: 15px;
}

.Work {
    grid-area: Work;
    border-right: 10px solid rgb(1, 1, 90);
}

.workImage {
    padding: 5px;
}

.Scheduler {    
    grid-area: Scheduler;
    text-align: center;
}

.Weather {
    grid-area: Weather;
    text-align: center;
}

.prodHuc {
    grid-area: prodHuc;
    text-align: center;
}

.contactMe {
    grid-area: contactMe;
    border-right: 10px solid rgb(1, 1, 90);
}

.phoneNo {
    grid-area: phoneNo;
    text-align: center;
}

.email {
    grid-area: email;
    text-align: center;
}

.GitInk {
    grid-area: GitInk;
    text-align: center;
}